<template>
  <q-card>
    <router-view />
  </q-card>
</template>

<script>
export default {
  name: 'MainPages',
  props: {
    title: {
      type: String,
      required: true,
    },
  },
};
</script>
